<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="formGroup1">
    <form [formGroup]="formGroup1">
      <ng-template matStepLabel>What To do?</ng-template>
      <mat-form-field>
        <input
          [(ngModel)]="todo.title"
          matInput
          placeholder="what needs to be done"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup2">
    <form [formGroup]="formGroup2">
      <ng-template matStepLabel>When To do</ng-template>
      <mat-form-field>
        <input
          [(ngModel)]="todo.date"
          [ngModelOptions]="{ standalone: true }"
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="addTodo(); stepper.reset()">Confirm</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<!-- <mat-selection-list #todo>
  <mat-list-option *ngFor="let todo of todos">
    <todo-item
      (click)="todoService.doneEditing(todo)"
      [todo]="todo"
    ></todo-item>
  </mat-list-option>
</mat-selection-list> -->

<todo-item *ngFor="let todo of todos" [todo]="todo"></todo-item>

<div class="extra-container">
  <div>
    <button (click)="todoService.checkAllTodos()">Check All</button>
    <button (click)="todoService.clearCompleted()">Clear Completed</button>
  </div>
  <!-- <div>{{ todoService.remaining() }} items left</div> -->
</div>

<div class="extra-container">
  <div>
    <button
      [ngClass]="{ active: todoService.filter === 'all' }"
      (click)="allTodos(); todoService.filter = 'all'"
    >
      All
    </button>
    <button
      [ngClass]="{ active: todoService.filter === 'active' }"
      (click)="filterTodo(false); todoService.filter = 'active'"
    >
      Active
    </button>
    <button
      [ngClass]="{ active: todoService.filter === 'completed' }"
      (click)="filterTodo(true); todoService.filter = 'completed'"
    >
      Completed
    </button>
  </div>

  <!-- <div *ngIf="todoService.atLeastOneCompleted()">
    <button (click)="todoService.clearCompleted()">Clear Completed</button>
  </div> -->
</div>
