.nav___actions {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
::ng-deep .mat-menu-content {
  background-color: #b583be;
}

.items___container {
  margin-bottom: 70px;
  @media screen and (min-width: 800px) {
    width: 75%;
    margin: 0 auto;
  }
}

.nav___filters {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.active {
  background: #18c27f;
}
.items___container {
  // height: 100vh;
  margin-bottom: 70px;
}
