<mat-toolbar class="nav___actions" color="primary">
  <button mat-stroked-button class="button___stroked" (click)="openDialog()">
    New Task
  </button>

  <button mat-stroked-button [matMenuTriggerFor]="belowMenu">
    All/None
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="todoService.checkAllTodos()">
      Check All
    </button>
    <button mat-menu-item (click)="todoService.uncheckAllTodos()">
      Uncheck All
    </button>
  </mat-menu>

  <button mat-stroked-button (click)="openClearDialog()">
    Clear Completed
  </button>
</mat-toolbar>

<div class="items___container">
  <todo-item *ngFor="let todo of todos" [todo]="todo"></todo-item>
</div>

<mat-toolbar color="primary" class="nav___filters">
  <button
    mat-raised-button
    color="primary"
    [ngClass]="{ active: todoService.filter === 'all' }"
    (click)="allTodos(); todoService.filter = 'all'"
  >
    All
  </button>
  <button
    mat-raised-button
    color="primary"
    [ngClass]="{ active: todoService.filter === 'active' }"
    (click)="filterTodo(false); todoService.filter = 'active'"
  >
    Ongoing
  </button>
  <button
    mat-raised-button
    color="primary"
    [ngClass]="{ active: todoService.filter === 'completed' }"
    (click)="filterTodo(true); todoService.filter = 'completed'"
  >
    Completed
  </button>
</mat-toolbar>
