// /* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #424242;
}
span {
  color: white !important;
  font-size: 14px;
  font-weight: 400;
}
input {
  color: white !important;
}
h1 {
  font-weight: 500 !important;
  font-size: 18px !important;
}
h2 {
  font-weight: 200 !important;
}
